@import url('https://cdn.jsdelivr.net/npm/ace-builds@1.43.5/css/ace.min.css');

#editor {
  box-shadow: 0 2px 6px var(--color-zinc-100);
  max-width: 100vw !important;
}

#blah2 {
  width: 100% !important;
}
