@import url('https://cdn.jsdelivr.net/npm/ace-builds@1.43.5/css/ace.min.css');

#editor {
  max-width: 95vw !important;
  height: 10vh !important;
}

#blah2 {
  width: 95vw !important;
  height: 40vh !important;
  box-shadow: 0 2px 6px var(--color-zinc-950);
}
