@import url('./external.css');
@import url('./override.css');

:root {
  overflow-x: hidden !important;
}

body {
  font-family: 'Fira Code', monospace;
}

header h1 {
  color: var(--color-amber-500);
  font-weight: bold;
}

pre:focus,
code:focus {
  outline: none;
}

.output-mode-select {
  border: none;
  border-radius: 5px 15px;
  box-shadow: 0 2px 6px var(--color-zinc-100);
  padding: 10px 15px;
  margin-bottom: 10px;
}

.output-mode-select:hover {
  cursor: pointer;
}

.output-mode-select:focus {
  outline: none;
}

.ctn-typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-ctn {
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-width: none;
  border: none;
  border-radius: none;
  outline: none;
  padding: 10px;
}

footer {
  backdrop-filter: blur(5px);
  padding-bottom: 10px;
  zoom: 80%;
  text-align: center;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--color-amber-500);
}

#details-code-run summary:hover {
  cursor: pointer;
}

.pre-code-js {
  cursor: text;
  background: transparent;
  backdrop-filter: blur(5px);
}

.custom-select {
  appearance: base-select;
  -moz-appearance: base-select;
}

.custom-select::picker(select) {
  appearance: base-select;
  -moz-appearance: base-select;
  scrollbar-color: var(--color-amber-200) transparent !important;
  scrollbar-width: thin !important;
  background-color: var(--color-zinc-900);
  color: var(--color-amber-500);
  border-radius: 10px;
}

.selectorOption {
  border-radius: 6px;
  background-color: var(--color-zinc-900);
}

.selectorOption:checked {
  background: var(--color-amber-500);
  color: var(--color-gray-950);
}

.selectorOption::checkmark {
  color: var(--color-amber-50);
}

.selectorOption:hover {
  background: var(--color-amber-200);
  color: var(--color-gray-950);
  cursor: pointer !important;
}

.selectorOption::-webkit-scrollbar {
  background-color: aqua;
}
