@import url('https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css');
@import url('./external.css');
@import url('./override.css');

:root {
  --bulma-primary: #ffa500;
  overflow-x: hidden !important;
}

body {
  font-family: 'Fira Code', monospace;
}

header h1 {
  color: var(--bulma-primary);
  font-weight: bold;
}

pre:focus,
code:focus {
  outline: none;
}

.output-mode-select:hover {
  cursor: pointer;
}

.output-mode-select:focus {
  outline: none;
}

.ctn-typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-ctn {
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-width: none;
  border: none;
  border-radius: none;
  outline: none;
  padding: 10px;
}

footer {
  backdrop-filter: blur(5px);
  padding-bottom: 10px;
  zoom: 80%;
  text-align: center;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer > p {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

a {
  color: #ffa500;
}
