codapi-snippet {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(243, 243, 243, 0.674);
  padding: 20px;
}

codapi-output pre {
  overflow-y: scroll;
  max-height: 40vh;
}

codapi-output pre {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

codapi-output pre::-webkit-scrollbar {
  display: none;
}

codapi-output table {
  border: 1px solid #f3f3f3;
  padding: 10px;
  width: 100%;
}

codapi-output table th,
codapi-output table td {
  border: 1px solid #f3f3f3;
  padding: 10px;
}

codapi-output table th {
  background-color: #0000003b;
  text-align: center !important;
}

codapi-toolbar > button {
  border-radius: 5px 15px;
  box-shadow: 0 2px 6px rgba(243, 243, 243, 0.3);
  padding: 10px 15px;
}

codapi-toolbar > button:hover {
  cursor: pointer;
  background-color: #ffa60065;
}
